 body
 {
    font-family: Arial;
    background-color: #f3f4f6;
}

.header-section
{
    background: linear-gradient(to right, #111827, #2563eb);
    color: white;
    text-align: center;
    padding: 60px;
}

.custom-navbar
{
    background-color: #111827;
}

.custom-navbar .nav-link
{
    color: white;
    margin-left: 15px;
    font-size: 17px;
}

.custom-navbar .nav-link:hover
{
    color: #60a5fa;
}

.product-card
{
    border: none;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.product-card:hover
{
    transform: translateY(-8px);
}

.product-card img
{
    height: 220px;
    object-fit: cover;
}

.footer-section
{
    background-color: #111827;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
